asgiref==3.8.1
Django==5.1.5
django-appconf==1.0.6
django-compressor==4.5.1
django-filter==24.3
django-sass-processor==1.4.1
djangorestframework==3.15.2
libsass==0.23.0
lxml==5.3.0
pillow==11.1.0
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
